/* Build the image above using HTML and CSS.
Don't use floats, only display property.
Use a fix width of 1000px.
You can use your own pictures or cut them out of the picture above.
Spend no more than 3 hours on this assignment. */

body {
  width: 1000px;

}

#block1 {
  display: flex;
  padding-top: 40px;
}

#left_side {
  width: 30%;
}

#left_side p{
  font-size: 13px;
}

#midel_side {
  width: 40%;
  
}
#midel_side p{
  margin:0px 80px 0px 80px ;
}
.left_woman {
  display: inline-flex;
}



#right_side {
  width: 30%;
}

.pic_content {
  margin: 0px;
}

h4 {
  color: red;
  margin: 0px;
}


#logo img {
  margin-left: 30px;
}